:root {
    --with-color: #ffffffff;
    --blackblack-color: #000000;
    --text-color: #33333333;
}
*{
    box-sizing: inherit ;
}
html {
    /* Hack tức là chia ra 62.5 là một 1rem = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}
p {
    font-size: 1rem;  
}